h1 {
    text-align: center;
    color: red;
}
.intro {
    font-style: italic;
    color: floralwhite;
}
body {
    background-color: darkblue;
}
p {
    color: floralwhite;
}
img {
    width: 600px;
    height: 500px;
}